# protip: check final .config using lxc-checkconfig

CONFIG_KERNEL_XZ=y
CONFIG_JUMP_LABEL=y
CONFIG_HZ_100=y
CONFIG_HIBERNATION=n
CONFIG_MODULES=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_USELIB=n
CONFIG_DEBUG_RODATA=y

CONFIG_EXT2_FS=y
CONFIG_EXT2_FS_XATTR=y
CONFIG_EXT2_FS_POSIX_ACL=y
CONFIG_EXT2_FS_SECURITY=y
CONFIG_EXT3_FS=y
CONFIG_EXT3_FS_XATTR=y
CONFIG_EXT3_FS_POSIX_ACL=y
CONFIG_EXT3_FS_SECURITY=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_BTRFS_FS=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_FUSE_FS=y

CONFIG_DNOTIFY=y
CONFIG_INOTIFY_USER=y
CONFIG_FANOTIFY=y

CONFIG_HYPERVISOR_GUEST=y
CONFIG_XEN=n

CONFIG_SECCOMP=y

CONFIG_NAMESPACES=y
CONFIG_UTS_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_UID_NS=y
CONFIG_PID_NS=y
CONFIG_NET_NS=y

CONFIG_DEVPTS_MULTIPLE_INSTANCES=y

CONFIG_CGROUPS=y
CONFIG_BLK_CGROUP=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_PERF=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUP_DEVICE=y
CONFIG_RESOURCE_COUNTERS=y
CONFIG_MEMCG=y
CONFIG_MEMCG_KMEM=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG_SWAP_ENABLED=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_SCHED_AUTOGROUP=y

# requires gcc:4.9
# CONFIG_CC_STACKPROTECTOR_STRONG=y
CONFIG_CC_STACKPROTECTOR_REGULAR=y

CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DISABLE=n

CONFIG_GRKERNSEC=y
CONFIG_GRKERNSEC_CONFIG_AUTO=y
CONFIG_GRKERNSEC_CONFIG_SERVER=y
CONFIG_GRKERNSEC_CONFIG_VIRT_GUEST=y
CONFIG_GRKERNSEC_CONFIG_VIRT_EPT=y
# CONFIG_GRKERNSEC_CONFIG_VIRT_VMWARE=y
# CONFIG_GRKERNSEC_CONFIG_VIRT_KVM=y
CONFIG_GRKERNSEC_CONFIG_VIRT_VIRTUALBOX=y
CONFIG_GRKERNSEC_CONFIG_PRIORITY_SECURITY=y
CONFIG_GRKERNSEC_SYSCTL=n
# CONFIG_GRKERNSEC_SYSCTL_ON=y
CONFIG_GRKERNSEC_CHROOT_CHMOD=y

CONFIG_PAX=y
CONFIG_PAX_ASLR=y
CONFIG_PAX_RANDKSTACK=y
CONFIG_PAX_RANDMMAP=y

# networking
CONFIG_BRIDGE=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NF_NAT=y
CONFIG_NF_NAT_IPV4=y
CONFIG_NF_NAT_NEEDED=y
CONFIG_VETH=y
CONFIG_MACVLAN=y
CONFIG_VLAN_8021Q=y

# lvm
CONFIG_BLK_DEV_DM=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_EXT4_FS=y

# https://www.virtualbox.org/ticket/941
# https://www.virtualbox.org/ticket/2652
CONFIG_PAX_MEMORY_UDEREF=n
